{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<img src="{{ asset('build/images/background_home.jpg') }}" alt="background_home"/>
<h1>{{ website }} Bienvenue</h1>
{% endblock %}