{% extends 'base.html.twig' %}

{% block title %}Wild Series{% endblock %}

{% block body %}
<div>
    <img src="{{ asset('build/images/background_home.jpg') }}" class='background_home' alt="background_home"/>
    <h1 class='home_title'>{{ website }}</h1>
        <div class='login_field'>
            <h2>S'INSCRIRE</h2>
            <form method="post" accept-charset="UTF-8">
                <input type="hidden" name="action" value="users/login">
                <h3><label for="loginName">Username or email</label></h3>

                <input id="loginName" type="text" name="loginName">
                <h3><label for="password">Password</label></h3>

                <input id="password" type="password" name="password">
                <label>
                    <input type="checkbox" name="rememberMe" value="1">
                    Remember me
                </label>
            
                <input type="submit" value="Login">
            </form>
            <p><a href="#">Forgot your password?</a></p>
        </div>
</div>

{% endblock %}